<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build.precompilePolyfills</key>
	<false/>
	<key>debug.traceOpcodes</key>
	<false/>
	<key>debug.trackRefcounts</key>
	<false/>
	<key>debug.suppressErrorPrinting</key>
	<false/>
	<key>optimize.enabled</key>
	<true/>
	<key>optimize.shortOpcodes</key>
	<true/>
	<key>optimize.useInlineCalls</key>
	<false/>
	<key>cache.bytecodeEnabled</key>
	<false/>
	<key>cache.bytecodePrefixes</key>
	<string></string>
	<key>cache.bytecodeExcludePrefixes</key>
	<string>&lt;eval&gt;,&lt;onclick&gt;,&lt;diag&gt;</string>
	<key>cache.bytecodeMaxSize</key>
	<integer>1000000</integer>
	<key>trace.hitThreshold</key>
	<integer>16</integer>
	<key>stack.maxCallDepth</key>
	<integer>200</integer>
	<key>stack.maxLocalVars</key>
	<integer>65534</integer>
	<key>stack.maxStackSize</key>
	<integer>65534</integer>
	<key>stack.defaultSize</key>
	<integer>1048576</integer>
	<key>stack.bufPoolMax</key>
	<integer>32</integer>
	<key>gc.mallocThreshold</key>
	<integer>262144</integer>
	<key>gc.objectCost</key>
	<integer>256</integer>
	<key>gc.metalThreshold</key>
	<integer>5000</integer>
	<key>gc.metalThreadGroupSize</key>
	<integer>256</integer>
	<key>gc.metalMaxRescueIterations</key>
	<integer>100</integer>
	<key>atoms.initialHashSize</key>
	<integer>1024</integer>
	<key>shapes.hashBits</key>
	<integer>4</integer>
	<key>strings.ropeShortLen</key>
	<integer>512</integer>
	<key>strings.ropeShort2Len</key>
	<integer>8192</integer>
	<key>strings.ropeMaxDepth</key>
	<integer>60</integer>
	<key>regex.metalThreadGroupSize</key>
	<integer>256</integer>
	<key>jobs.maxPerDrain</key>
	<integer>1000</integer>
	<key>interrupt.counterInit</key>
	<integer>10000</integer>
	<key>security.blockRemoteImports</key>
	<false/>
	<key>quantum.enabled</key>
	<true/>
	<key>quantum.preferGPU</key>
	<true/>
	<key>quantum.dataBits</key>
	<integer>2</integer>
	<key>quantum.maxChainValues</key>
	<integer>8</integer>
	<key>quantum.maxEncodeAttempts</key>
	<integer>100</integer>
</dict>
</plist>
